@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f6f6f6;
  color: #111;
  padding:0;
}

.cart-wrapper {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.cart-main {
  flex: 1;
  min-width: 60%;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

.cart-main h2 {
  margin-bottom: 20px;
  font-size: 26px;
}

.cart-item {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.item-img {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.item-details {
  flex: 1;
}

.item-details h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.item-details p {
  margin: 5px 0;
  font-size: 14px;
}

.price {
  font-size: 18px;
  font-weight: bold;
}

.sub-price {
  font-size: 12px;
  color: #555;
  margin-left: 8px;
}

.info {
  font-size: 13px;
  color: #555;
}

.controls {
  margin-top: 10px;
}

.qty-box {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 4px;
}

.qty-box button {
  padding: 4px 10px;
  background: #f0f0f0;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.qty-box input {
  width: 30px;
  text-align: center;
  border: none;
  background: transparent;
}

.links {
  margin-top: 8px;
  font-size: 13px;
}

.links a {
  text-decoration: none;
  color: #007185;
  margin-right: 10px;
}

.links a:hover {
  text-decoration: underline;
}

.link-button {
  background: none;
  border: none;
  color: #0077b6;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

.link-button:hover {
  color: #023e8a;
  text-decoration: underline;
}


.cart-summary {
  width: 300px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

.summary-card {
  font-size: 14px;
}

.green-text {
  color: green;
  font-weight: bold;
}

.blue-text {
  color: #007185;
  padding: 10px 0;
  font-size: 14px;
}

.fulfilled {
  background-color: #eee;
  padding: 2px 6px;
  border-radius: 4px;
}

.summary-line {
  padding: 5px 0; 
  font-size: 15px;
}


.gift-line label {
  padding: 5px 0;
  display: inline-block;
}

.checkout-btn {
  background-color: #ffd814;
  border: 1px solid #fcd200;
  color: #111;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  margin: 1px 0;
  cursor: pointer;
  border-radius: 8px;
}

.checkout-btn:hover {
  background-color: #f7ca00;
}

select {
  width: 100%;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.emi-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.emi-box label {
  font-size: 13px;
  font-weight: 500;
}

.emi-box select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #fefefe;
  cursor: pointer;
}


@media (max-width: 768px) {
  .cart-wrapper {
    flex-direction: column;
  }

  .cart-summary {
    width: 100%;
    margin-top: 20px;
  }
}
